@model IEnumerable<FrontEnd.Models.InstitucionViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h1>Prueba</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdInstitucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdInstitucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdInstitucion  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.IdInstitucion }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.IdInstitucion })
            </td>
        </tr>
}
    </tbody>
</table>
